/* login.page.scss */
.login-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  ion-button {
    margin-top: 20px;
  }
  
  a {
    color: var(--ion-color-primary);
    text-decoration: none;
  }

