<ion-header [translucent]="true">
  <ion-toolbar style="color: 0F1035;">
    <ion-title>
        CyberTech Store
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="custom-title">CyberTech Store</ion-title>
      <ion-button fill="outline" slot="end" style="margin-right: 1.2em; margin-top: -0.2em;">
        <ion-icon name="cart-outline" ></ion-icon>
      </ion-button>
    </ion-toolbar>
    <ion-searchbar color="dark"></ion-searchbar>
  </ion-header>

  <ion-card >
    <img alt="Silhouette of mountains" src="../../assets/img/FS.jpg" style="width: 100%; color: 365486;" />
    <ion-card-header >
      <ion-card-title>Flash sale</ion-card-title>
      <ion-card-subtitle>Just few hours left !</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Grab incredible discounts before they vanish. Limited-time offers !
    </ion-card-content>
  </ion-card>

  <ion-card class="custom-card" >
    <ion-card-header>
      <ion-card-title>Laptops</ion-card-title>
      <ion-card-subtitle>+12 new articles</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item class="custom-item">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/pc-portable-apple-macbook-air-m1-133-8-go-256-go-argent.jpg" />
          </ion-thumbnail>
          <ion-label>Apple Macbook Air M1 </ion-label>
        </ion-item>
        <ion-item class="custom-item">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/MSI-Raider-GE78HX-13VI-274XFR.webp" />
          </ion-thumbnail>
          <ion-label>MSI Raider GE78HX </ion-label>
        </ion-item>
  
        <ion-item class="custom-item">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/pc-portable-gamer-asus-tuf506hc-hn085w-i5-11400hrtx3050-ecran-156-144hz-24g.jpg" />
          </ion-thumbnail>
          <ion-label>Asus TUF 506hc</ion-label>
        </ion-item>
  
        <ion-item lines="none" class="custom-item">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/pc-portable-hp-15-fd0030nk-intel-n100-4go-256go-ssd-gris.jpg" />
          </ion-thumbnail>
          <ion-label>Hp 15 fc0030nk</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Smartphones</ion-card-title>
      <ion-card-subtitle>+16 new articles</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item class="custom-item">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/1682435207_286.jpg" />
          </ion-thumbnail>
          <ion-label>Huawei Nova 4G</ion-label>
        </ion-item>
  
        <ion-item class="custom-item">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/6540d479ed014d041ff78b46.jpg" />
          </ion-thumbnail>
          <ion-label>Iphone 15 Pro </ion-label>
        </ion-item>
  
        <ion-item class="custom-item">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/GalaxyZFlip4Purple_700x700.webp" />
          </ion-thumbnail>
          <ion-label>Galaxy Z Flip </ion-label>
        </ion-item>
  
        <ion-item lines="none" class="custom-item">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/smartphone-realme-c55-8go-256go-nuit-pluvieuse.jpg" />
          </ion-thumbnail>
          <ion-label>Realme C55 </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Accessories</ion-card-title>
      <ion-card-subtitle>On Sale</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item class="custom-item">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/airpods.jpg" />
          </ion-thumbnail>
          <ion-label>Airpods</ion-label>
        </ion-item>
  
        <ion-item class="custom-item">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/pack.jpg" />
          </ion-thumbnail>
          <ion-label>Pack All in One</ion-label>
        </ion-item>
  
        <ion-item class="custom-item">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/smartwatch.jpg" />
          </ion-thumbnail>
          <ion-label>Smartwatch</ion-label>
        </ion-item>
  
        <ion-item lines="none" class="custom-item">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/img/ssd.jpg" />
          </ion-thumbnail>
          <ion-label>Hard disk </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
